<div class="banner" style="background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(200,200,200,0.3)), url(https://images.pexels.com/photos/3964138/pexels-photo-3964138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
  <div class="row">
    <h2>
      <span
           class="txt-rotate"
           data-period="500"
           data-rotate='[ "Need to go?", "Worry no more." ]'></span>
    </h2>
  </div>
  <div class="col-md-6 offset-md-3">
    <form novalidate="novalidate" class="simple_form search" action="/toilets" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;"/>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" placeholder="Search for a Loo near you!"/>
        <!-- <button name="button" type="submit" > -->
        <%=button_tag  style: "color:white", class: "btn btn-danger" do %>
          <i class="fas fa-search"></i>
        <% end %>
        <!-- </button> -->
      </div>
    </form>
  </div>
</div>
<!-- Took out of input for first demo -->
<!-- name="search[query]" -->