<div class="cards mx-5 px-1">
  <% @toilets.each do |toilet| %>
    <div class="card-category"style="background-image: linear-gradient(to left, rgba(60,60,60,0.3), rgba(60,60,60,0.3)),url(<%= toilet.photo.attached? ? cl_image_path(toilet.photo.key) : asset_path('logo.png')  %>)" >
      <%= link_to toilet_path(toilet.id) do %>
        <%=toilet.title%>
        <br>
        <p>⭐️⭐️⭐️⭐️</p>
      <%end%>
    </div>
  <%end%>
</div>