<div class="cards mx-5 px-1">
  <% @toilets.each do |toilet| %>
    <div class="card-category" >
      <%= link_to toilet_path(toilet.id) do %>
        <%=toilet.title%>
        <br>
        <p>⭐️⭐️⭐️⭐️</p>
      <%end%>
    </div>
  <%end%>
</div>