<div class="footer">
  <ul>
    <div class="col">
      <li>
        <i class="fab fa-instagram"></i>
      </li>
    </div>
    <div class="col">
      <li>
        <i class="fab fa-facebook"></i>
      </li>
    </div>
    <div class="col">
      <li>
        <i class="fab fa-twitter"></i>
      </li>
    </div>
    <div class="col">
      <li>
        <i class="fab fa-snapchat"></i>
      </li>
    </div>
  </ul>
</div>