<div class="card-toilet">
  <img src="https://images.unsplash.com/photo-1589824783837-6169889fa20f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
  <div class="card-toilet-infos">
    <h2>Toilet name</h2>
    <p>Toilet description with <strong>relevant info</strong> only.</p>
  </div>
</div>