
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 300px;
  width: auto;
}
.card-category {
  background-size: cover;
  background-position: center;
  background:grey;

  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  a {
    font-size: 0 ;

  }

}
.card-category:hover{
 a {
    font-size: 24px;
    color:white;
    text-decoration: none;
  }

}

.card-toilet {
  position: relative;
  .card-toilet-link {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
