.card-toilet {
  overflow: hidden;
  height: 160px;
  width: 800px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 2px double $pink;
}

.card-toilet img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

.card-toilet h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-toilet p {
  font-size: 12px;
  line-height: 2.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
}

.card-toilet .card-toilet-infos {
  padding: 12px;
}
