.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2)
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#icon {
  color: $pink;
  border: 4px outset $pink;
  padding: 8px;
}

.nav-bar-text {
  justify-content:center;
  margin: 4px;
}
